.container {
  max-width: 614px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  
}
#myDIV {
  width: 300px;
  height: 200px;
  background: red;
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {background-color: #DCE6F1;}
  to {background-color: #eaeaea;}
}
