.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 27%;
}
.container > svg {
  cursor: pointer;
  font-size: 14px;
  width: 24px;
  height: 24px;
  line-height: 18px;
}
.container > span > svg {
  cursor: pointer;
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 18px;
}
.user_image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-size: cover;
  background-position : center;
  cursor : pointer;

}
