@font-face {
  font-family: "myFirstFont";
  src: url("../../../../public/fonts/Demo_Fonts/Billabong.ttf");
}
@font-face {
  font-family: "myFirstFont";
  src: url("../../../../public/fonts/FontsFree-Net-DreamFlourish-DOKPR.ttf");
}

@font-face {
  font-family: "mysecondtFont";
  src: url("../../../../public/fonts/Demo_Fonts/Helvetica-Neue-Font/Helvetica Neue UltraLight/Helvetica Neue UltraLight.ttf");
}

.conatainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 64%;
  height: 100%;
}
.logo {
  font-family: myFirstFont;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.form_search {
  width: 268px;
  height: auto;
  background-color: #efefef;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  border: 1px solid #eaeaea;
}
.search_input {
  width: 100%;
  border: none;
  letter-spacing: 2px;
  height: 34px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 16px;
  letter-spacing: 0.12px;
  line-height: 26px;
  font-weight: 300;
  color: #8E8E8E;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.form_search > svg {
  cursor: pointer;
  font-size: 16px;
}
.search_input:focus {
  border: none;
  outline: none;
}
